*
	margin: 0
	padding: 0

body
	margin: 0
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

code
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace

a,
button
	color: inherit
	outline: none
	text-decoration: none
	cursor: pointer
	transition: border-color 0.2s, color 0.2s, background-color 0.2s
	&:hover,
	&:focus,
	&:active
		text-decoration: none
		outline: none
	&:hover
		color: inherit